# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Application Data & Databases
data/
logs/
*.db
*.sqlite3

# Secrets
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# dev
dev

# package
uv.lock

# egg-info
src/vector_rag.egg-info

# data
docs/